.container-1 {
  display: flexbox;
  padding: 100px;
  width: 130vh;
  align-items: center;
  margin-left: 25vh;
  margin-top: 30px;
}
.container-1 div {
  padding: 1px;
}
.inline {
  display: flex;
  margin-left: -30vh;
  font-weight: 900;
  font-size: 22px;
  margin-top: -33px;
  position: absolute;
}
.inlineimage img {
  position: absolute;
  margin-top: 35px;
  margin-left: 30px;
  width: 3%;
  height: 0.7%;
}
.box-1 {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 30px;
  font-size: 20px;
  margin-top: 40px;
}
.box-1 img {
  width: 22%;
}
.para p {
  width: 50%;
}
.para button:hover {
  border: 2px solid black;
}
.box-1 h1 {
  display: inline;
  margin-left: 20px;
  border-top: 4px solid black;
}
.model5 {
  width: 40px;
  height: 40px;
  float: right;
}
.foto {
  float: right;
  margin-right: -40px;
  margin-top: -190px;
}

.box-2 {
  margin: 50px;
  width: 120vh;
}

.box-2 p {
  font-size: 20px;
  padding: 1px;
  margin-left: -20px;
}

.foto img {
  margin-bottom: 30px;
}

.box-2 button {
  font-size: 10px;
  padding: 8px 25px;
  font-size: 18px;
  margin-left: -25px;
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: black;
  color: #fff;
}
.btn--style1 {
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.inline > h1 {
  font-weight: 650;
}

@media screen and (max-width: 768px) {
  .inline > h1 {
    margin-left: 3vh;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .para > p {
    width: 37vh;
    height: 25vh;
    margin-left: -37vh;
  }
}
@media screen and (max-width: 768px) {
  .box-1 > img {
    margin-left: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .foto > img {
    margin-left: 30vh;
    margin-right: -80px;
  }
}

@media screen and (max-width: 768px) {
  .para button {
    margin-left: -20vh;
    width: 15vh;
  }
}

@media screen and (max-width: 768px) {
  .inlineimage > img {
    margin-left: -31vh;
    margin-top: 1vh;
  }
}
@media screen and (max-width: 768px) {
  .para button {
    width: 18vh;
    margin-top: 7vh;
    margin-right: 1vh;
    margin-left: -37vh;
  }
}
