.container-2 {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.container--djathtas p {
    width: 80%;
    margin-right: -120px;
    font-weight: 600;
    font-size: 20px;
    float: right;
}

.para2 p {
    width: 50%;
    margin-right: 25px;
}
.para2 button {
    margin-right: -20px;
}
.container--djathtas h1 {
    font-size: 40px;
    margin-left: 850px;
    border-top: 3px solid black;
}
.container--djathtas button {
    float: right;
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    margin-right: -600px;
    margin-top: 17%;
}
