.container--body2 {
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
}
.block-2 p {
  width: 75vh;
  height: 25vh;
  font-size: 18px !important ;
}
.block-2 h1 {
  font-size: 35px !important ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.block-2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.inline-1 {
  display: flex;
  flex-direction: row;
}
.inline-1 h1 {
  margin-left: 50vh;
  float: right;
}
.inline-1 img {
  height: 8px;
  width: 100px;
  margin-top: 50px;
}
.inline-2 img {
  float: right;
}
@media screen and (max-width: 768px) {
  .container--body2 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .container--body2 p {
    width: 40vh;
    margin-left: 15vh;
    height: 23vh;
  }
}
@media screen and (max-width: 768px) {
  .container--body2 h1 {
    width: 40vh;
    margin-left: 15vh;
  }
}
