.clients {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;  
    margin-top: 120px;
}
.text > h1 {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 68vh;
    margin-top: -20vh;
    color: #fff;
    font-weight: 600;
    font-size:50px;
}
.background--image img {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -230px;
    height: 75%;
    opacity: 0.86;
}
.client1 {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
     
}

.client2 {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.client3 {
display: grid;
margin-left: auto;
margin-right: auto;
background-color: #fff;
padding: 30px;
margin-top: 10px;
border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;

}
.client1 img {
margin-left: auto;
margin-right: auto;    
padding: 10px; 
}
.client2 img {
margin-left: auto;
margin-right: auto;
padding: 10px;     
}
.client3 img {
margin-left: auto;
margin-right: auto;
padding: 10px;     
}
@media screen and (max-width: 768px) {
    .clients {
        flex-direction: column;
    }
}

.first > p {
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}
.second > p {
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}
.third > p {
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}
