.images img {
    display: block;
    margin-left: 100px;
    margin-top: 5vh;
}
.messages {
    padding: 60px;
    margin-top: 20vh;
}
.message {
    float: right;
    position: absolute;
    margin-left: 140vh;
    margin-top: -25vh;
    
}
.touch > h1 {
    margin-left: 170px;
    font-weight: 650;
    font-size: 45px;
    
}
.shortline img {
    position: absolute;
    margin-top: -6vh;
}

.send > h1 {
    font-size: 30px;
    margin-top: -25px;
}
.contact > h2 {
    margin-bottom: 10px;
    position: absolute;
    margin-left: 95px;
    padding: 5px;
}
