.ourclients h1 {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.blackpic--style h1 {
     font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}