.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
  }
  .flex-items input {
      
      position: absolute;
  }
  .newsletter-items {
      width: 99%;
      
  }
  .newsletter > h1 {
      font-size: 55px;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-left: 65vh;
      
  }
  .newsletter-items {
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 147px;
  }
  .image img {
      position: absolute;
      z-index: -1;
      width: 100%;
      
  }
  .flex-items {
      margin-left: 75vh;
      
  }
  @media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
    .newsletter-items {
        padding-top: 2rem;
    }

}
.newsletter button {
    margin-left: 28vh;
    position: relative;
    margin-bottom: -120px;
    background-color: black;
    border: 1px solid black;
    color: #fff;
}
