.portfolio2--line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    padding: 40px; 
    
    }
    .portfolio2--style {
    display: grid;
    border: 2px solid gold;
    border-radius: 8px;
    margin-right: 5px;
    }
    .portfolio2--style1 {
    display: grid;
    border-radius: 8px;
    border: 1px solid black;
    height: 56vh;  
    margin-right: 5px;
    }
    .portfolio2--style2 {
    display: grid;
    border-radius: 8px;
    border: 1px solid black;
    height: 56vh;
    margin-right: 5px;
    }
    .portfolio2--style3 {
    display: grid;
    border-radius: 8px;
    border: 1px solid black;
    height: 56vh;
    margin-right: 5px;
    }
    .portfolio2--style img {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        margin-bottom: 10px;
        
    }
    .portfolio2--style1 img {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
    .portfolio2--style2 img {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
    .portfolio2--style3 img {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
    
    .coaching img {
        margin-left: 35px;
    }
    