.container--6 {
    padding: 90px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}
.content--1 {
    padding: 70px;
    
    display: grid;
    flex-direction: column;
    margin-bottom: 100px;

}
.right > h1 {
    font-size: 45px;
    margin-left: 18vh;
    margin-top: -80px;
    position: absolute;
}
.right > p {
    font-size: 25px;
    margin-left: 18vh;
    margin-top: -10px;
    position: absolute;
}
.line14 img {
    position: absolute;
    margin-top: 53px;
}
.app > h1 {
    font-weight: 600;
    font-size: 45px;    
    position: absolute;
    margin-left: 18vh;   
}
.content--1 img {
    padding: 10px;
}
.int img {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    margin-top: 1px;
    
}

.twopic img {
    display: flexbox;
    flex-direction: column;
}
.app img {
    margin-left: 120px;
}
.laptop img {
    margin-top: 15vh;
}
.content--2 {
    
    margin-left: -10vh;
    justify-content: flex-end;
    margin-top: 35vh;
}
.content--2 img {
    padding: 15px;

}
.pathone img {
    position: absolute;
    margin-left: -33px;
    margin-top: -10px;
    z-index: -1;
}
.polygon img {
    margin-bottom: -10px;
    margin-top: -39px;
    margin-left: -109px;
}
.linefull img {
    margin-top: 40px;
}
.middle--section {
    margin-top: 20vh;
    display: flexbox;
    flex-direction: row;
    
    margin-bottom: 15vh;
    padding: 15px;
    width: 100%;
    
    
}

.midabs img {
    position: absolute;
    z-index: -1;
    margin-top: -15px;
    margin-left: -40px;
}
.goat img {
    position: absolute;
}
.send > h1 {
    position: absolute;
    margin-top: 0vh; 
    margin-left: 10vh;
    font-size: 45px;
    font-weight: 600;
}
.paragraf > p {
    position: relative;
    margin-top: 15vh;
    margin-left: 3vh;
    font-size: 25px;
    
}

.lapind img {
    float: right;
    margin-right: -60vh;
    margin-top: -25vh;
    
}

.line2 img {
    float: right;
    margin-left: -13vh;
}
.linepoly img {
    margin-top: 38vh;
    margin-left: -6.5vh;
    z-index: -1;
}
.lapmid1 img {
    margin-right: -70vh;
}
.lapmid2 img {
    margin-left: 100vh;
    z-index: -1;
    position: absolute;
}
.lastsection img {
    margin-left: 70vh;
    display: flex;
    flex-direction: row;
}
.lineone img {
    margin-left: -80px;
    margin-top: 70px;
}
