.container--7 {
    margin-top: -40vh;
  
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-left: 10vh;
    
    
}
.lastsection img {
    position: absolute;
    z-index: -1;
    margin-left: 13vh;
    margin-top: -1vh;
}
.tree img {
    margin-left: 17vh;
}
.tree1 img {
    
    position: absolute;
}
.tree2 > h1 {
    margin-top: -5px;
    position: absolute;
    margin-left: 250px;
    font-size: 45px;

}
.tree3 > p {
    position: absolute;
    
    margin-left: 190px;
    font-size: 28px;
    margin-top: 12vh;
    
}
